<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://db.onlinewebfonts.com/c/5af457eecfd569c3264036d92c93d7ec?family=Cyberverse" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Tecpile project/css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="n">

        <nav id="navigation">

            <img src="~/Content/Tecpile project/img/random/r7.png" alt="">


            <a href="/admin/index" style="margin-left: 300px;">

                Dashboard

            </a>


            <a href="/admin/add_user">

                Users

            </a>



            <a href="/admin/game">

                Games

            </a>


            <a href="/admin/tournment">

                Tournments

            </a>


            <a href="/admin/logout">

               Logout

            </a>


        </nav>

    </div>

    @RenderBody()



</body>
</html>

   
