<!DOCTYPE html>
<html lang="en">


<head>

    <style>
        

    </style>

    <link rel="stylesheet" href="~/Content/Tecpile project/css/style.css">


    <script type="text/javascript" src="/script/script.js"></script>
    <!-- -----------------------------------------------------------fonts---------------------------------------------------- -->

    <link href="https://db.onlinewebfonts.com/c/5af457eecfd569c3264036d92c93d7ec?family=Cyberverse" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Iso&display=swap" rel="stylesheet">4
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik+Iso&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Permanent+Marker&family=Rubik+Iso&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@300&family=Pacifico&family=Permanent+Marker&family=Rubik+Iso&display=swap" rel="stylesheet">


    <!-- -----------------------------------------------------------fonts---------------------------------------------------- -->
    <!-- -------------------------------------------bootstrap---------------------------------------------------------------  -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- -------------------------------------------bootstrap---------------------------------------------------------------  -->



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="nav_bar">
        <nav class="navigation">


            <!-- <div class="nav_buttons"> -->

            <img src="~/Content/Tecpile project/img/random/r7.png" alt="" style="height: 60px; width: 90px; margin-left: 50px;">

            <!-- </div> -->
            <!-- -----------------------------------------------------nav bar buttons--------------------------------------------------- -->









            <div class="nav_b">

                <div class="nav_buttons ">

                    <b>
                        <a href="/user/index" class="a_nav">

                            Home

                        </a>
                    </b>

                </div>



                <div class="nav_buttons " style="width: fit-content;">

                    <b>
                        <a href="#about" class="a_nav">

                            About Us

                        </a>
                    </b>

                </div>








                <div class="nav_buttons ">

                    <b>
                        <a href="/user/games" class="a_nav">

                            Games

                        </a>
                    </b>
                </div>





                <div class="nav_buttons ">

                    <b>
                        <a href="/user/feeds" class="a_nav">

                            Feeds

                        </a>
                    </b>

                </div>


                <div class="nav_buttons" style="width: fit-content;">

                    <b>
                        <a href="/user/profile" class="a_nav">

                           My Profile

                        </a>
                    </b>


                </div>




                <div class="nav_buttons post"   style="width: 100px; height: 30px; padding:2px; margin-left: 455px; background-color: #ff7843;" >

                    <b>
                        <a href="/user/post" class="a_nav" >

                            New Post

                        </a>
                    </b>

                </div>


            </div>

        </nav>
    </div>

    <!-- <video src="/Video/BATTLEGROUNDS MOBILE INDIA SERIES 2023 _ Official Trailer.mp4" autoplay muted></video> -->
    <!-- -----------------------------------------------------nav bar buttons--------------------------------------------------- -->








    @RenderBody()




    <!-- -------------------------------------------Latest post=----------------------------------- -->
    <!-- -------------------------------footer--------------------------------------------- -->



    @*<div>
        <footer class="foot" style="position:absolute;">

            <div id="upper">

                <div class="foot_div">

                    <img src="~/Content/Tecpile project/img/random/r7.png" alt="" style="height: 40px; width: 70px; margin-bottom: 30px;">


                    <p class="foot_p">
                        Need to get in touch with us ? Please contact with us throw below detail service.
                    </p>

                    <p class="foot_p">

                        <img src="~/Content/Tecpile project/img/icon/phone-call.png" alt="" style="height: 20px; width: 20px; margin-right: 10px; background-color: aliceblue ;"> +91 111 222 3333
                    </p>
                    <p class="foot_p">
                        <img src="~/Content/Tecpile project/img/icon/gmail.png" alt="" style="height: 20px; width: 20px; margin-right: 10px;"> contact@gaminarena
                    </p>

                    <p class="foot_p">
                        <img src="~/Content/Tecpile project/img/icon/insta.png" alt="" style="height: 20px; width: 20px; margin-right: 10px;"> Gaming_Arena_website

                    </p>


                </div>


                <div class="foot_div">

                    <p class="foot_p " style="font-size: 30px; margin-bottom: 30px  ;">
                        QUICK LINKS
                    </p>


                    <p class="foot_p">
                        Home
                    </p>

                    <p class="foot_p">
                        About
                    </p>

                    <p class="foot_p">
                        Shop
                    </p>

                    <p class="foot_p">
                        Contact

                    </p>
                </div>




                <div class="foot_div">




                    <p class="foot_p " style="font-size: 30px; margin-bottom: 30px  ;">
                        USEFUL LINKS
                    </p>


                    <p class="foot_p">
                        FAQ
                    </p>

                    <p class="foot_p">
                        Terms & Conditions
                    </p>

                    <p class="foot_p">
                        Privacy Policy
                    </p>



                </div>




                <div class="foot_div">

                    <p class="foot_p " style="font-size: 30px; margin-bottom: 30px  ;">

                        SUBSCRIBE NEWSLETTER

                    </p>




                    <div style="display: flex; width: 200px; background-color: aliceblue; border:5px solid #ff7843;">

                        <input type="email" style="width: 165px; height: 30px; border: none;"><img src="~/Content/Tecpile project/img/icon/gmail.png" alt="" style="background-color:#ff7843 ; height: 30px; width: 30px; margin-right: 10px;">


                    </div>
                    <br>

                    <img src="~/Content/Tecpile project/img/icon/fb.png" alt="" style="margin-left:10px; height: 30px; width: 30px; margin-right: 10px;">
                    <img src="~/Content/Tecpile project/img/icon/twiteer.png" alt="" style="margin-left:35px; height: 30px; width: 30px; margin-right: 10px;">
                    <img src="~/Content/Tecpile project/img/icon/insta.png" alt="" style="margin-left:35px; height: 30px; width: 30px; margin-right: 10px;">





                </div>



            </div>

            <div id="lower">


                <div class="div_lower">

                    <b>
                        <p class="foot_p" style=" word-spacing: 1px; letter-spacing: 1px;">
                            Copyright  &#169; 2022 <font style="color: #ff7843;"> Gamers Arena </font> All Rights Reserved
                        </p>
                    </b>
                </div>



                <div class="div_lower">

                </div>


            </div>




        </footer>
    </div>*@














    <!-- -------------------------------footer--------------------------------------------- -->
    </div>


</body>
</html>


 
